:root {
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: hsl(187, 24%, 22%);
  background-color: hsl(148, 38%, 91%);
  min-height: 100vh;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
option,
button {
  font: inherit;
}

ul[class] {
  list-style: none;
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
body {
  font-family: "Karla", sans-serif;
  font-size: var(--fs-400);
  line-height: 1.5;
}

.btn {
  border: none;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 2rem 3.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: hsl(187, 24%, 22%);
}

input[type=text],
input[type=email],
textarea,
button {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 1.2rem 2.4rem;
  border: 1px solid rgba(43, 66, 70, 0.4);
  border-radius: 7px;
}

input[type=text]:hover, input[type=text]:active,
input[type=email]:hover,
input[type=email]:active,
input[type=radio]:hover,
input[type=radio]:active,
input[type=checkbox]:hover,
input[type=checkbox]:active,
textarea:hover,
textarea:active {
  border-color: hsl(169, 82%, 27%);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
textarea:focus {
  outline: 1px solid hsl(169, 82%, 27%);
  outline-offset: 0;
}

input[type=radio] {
  appearance: none;
  display: grid;
  place-content: center;
  color: currentColor;
  border: 1px solid rgba(43, 66, 70, 0.4);
  border-radius: 50%;
  cursor: pointer;
  width: 1.15em;
  height: 1.15em;
  transition: 0.2s all ease-in-out;
}
input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  box-shadow: inset 1em 1em hsl(169, 82%, 27%);
}
input[type=radio]:checked::before {
  transform: scale(1);
}
input[type=radio]:checked {
  border-color: hsl(169, 82%, 27%);
}

input[type=checkbox] {
  appearance: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  border: 1px solid rgba(43, 66, 70, 0.4);
  width: 1.15em;
  height: 1.15em;
  transition: 0.2s all ease-in-out;
}
input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  box-shadow: inset 1em 1em hsl(0, 0%, 100%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}
input[type=checkbox]:checked {
  background-color: hsl(169, 82%, 27%);
  border-color: hsl(169, 82%, 27%);
}

label[for*=radio],
label[for*=checkbox] {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-group:has(> input:required) label::after, .form-group:has(input:required) legend::after, .form-group:has(> textarea:required) label::after {
  content: "*";
  display: inline-block;
  margin-left: 1.2rem;
  color: hsl(169, 82%, 27%);
}
.form-group--invalid input[type=text],
.form-group--invalid input[type=email],
.form-group--invalid textarea {
  border-color: hsl(0, 66%, 54%);
}

.contact-us {
  width: 100%;
  max-width: 42rem;
  background-color: hsl(0, 0%, 100%);
  padding: 3.2rem;
  border-radius: 19px;
  position: relative;
}
.contact-us__form {
  display: grid;
  row-gap: 2rem;
}
.contact-us__message textarea {
  height: 10rem;
  resize: none;
}
.contact-us__querytype {
  display: grid;
  border: none;
  line-height: 1;
}
.contact-us__querytype label {
  font-size: var(--fs-500);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(43, 66, 70, 0.4);
  border-radius: 9px;
  transition: 0.2s all ease-in-out;
}
.contact-us__querytype label:has(> input[type=radio]:checked) {
  background-color: hsl(148, 38%, 91%);
  border-color: hsl(169, 82%, 27%);
}
.contact-us__querytype input[type=radio] {
  font-size: 1.6rem;
}
.contact-us__callback {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.contact-us__callback p {
  grid-column: span 2;
}
.contact-us__submit {
  margin-top: 2rem;
}
.contact-us__validation-error {
  color: hsl(0, 66%, 54%);
}

@media screen and (min-width: 64em) {
  .contact-us {
    max-width: 75rem;
    padding: 4.2rem;
  }
  .contact-us__form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
  }
  .contact-us__heading, .contact-us__email, .contact-us__querytype, .contact-us__message, .contact-us__callback, .contact-us__submit {
    grid-column: span 2;
  }
  .contact-us__querytype {
    grid-template-columns: 1fr 1fr;
  }
  .contact-us__querytype legend {
    grid-column: span 2;
  }
}
.success-message {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 3.2rem;
  border: none;
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.success-message__heading {
  font-weight: 700;
}
.success-message__text {
  color: hsl(186, 15%, 59%);
  grid-column: span 2;
}
.success-message--show {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
