*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: $color-neutral-900;
    background-color: $color-green-200;
    min-height: 100vh;
    padding: 3.2rem 1.6rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: $bp-desktop) {
        align-items: center;
    }
}

img,
picture,
svg,
canvas,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
option,
button {
    font: inherit;
}

ul[class] {
    list-style: none;
}

h1,
h2,
h3,
p {
    word-wrap: break-word;
}
