.btn {
    border: none;
    background-color: $color-green-600;
    color: $color-neutral-100;
    padding: 2rem 3.2rem;
    font-weight: $fw-bold;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: $color-neutral-900;
    }
}
