.contact-us {
    width: 100%;
    max-width: 42rem;
    background-color: $color-neutral-100;
    padding: 3.2rem;
    border-radius: 19px;
    position: relative;

    &__form {
        display: grid;
        row-gap: 3.2rem;
    }

    &__message {
        textarea {
            height: 20rem;
            resize: none;
        }
    }

    &__query-type {
        display: grid;

        border: none;
        line-height: 1;

        label {
            font-size: var(--fs-500);
            padding: 2rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            cursor: pointer;
            border: 1px solid rgba($color-neutral-900, 0.4);
            border-radius: 9px;

            transition: 0.2s all ease-in-out;

            &:has(> input[type='radio']:checked) {
                background-color: $color-green-200;
                border-color: $color-green-600;
            }
        }

        input[type='radio'] {
            font-size: $fs-400;
        }
    }

    &__callback {
        flex-direction: row;
        align-items: center;

        input[type='checkbox'] {
            flex-shrink: 0;
        }
    }

    &__validation-error {
        color: $color-red;
    }
}

@media screen and (min-width: 64em) {
    .contact-us {
        max-width: 80rem;
        padding: 4.2rem;

        &__form {
            grid-template-columns: 1fr 1fr;
            column-gap: 1.2rem;
        }

        &__heading,
        &__email,
        &__query-type,
        &__message,
        &__callback,
        &__submit {
            grid-column: span 2;
        }

        &__query-type {
            legend {
                grid-column: span 2;
            }

            grid-template-columns: 1fr 1fr;
        }
    }
}
